{% extends 'views/components/view_layout.html' %}

{% block title %} Change Password {% endblock %}

{% block main %}

<section class="container change-password-section">
    <div class="row">
        <div class="col-12 col-lg-6 password-requirement">
            <div class="position-absolute top-0 start-0 w-100 h-100 background-img">
                <img src="{{ url_for('static', filename='img/views/background/change-password-bg.jpg') }}" alt="Background Image" class="img-fluid">
                <div class="w-100 h-100"></div>
            </div>
            <div class="position-relative content">
                <h4 class="fs-4 fw-bold text-center fst-italic">Password Requirement</h4>
                <hr>
                <ul></ul>
                    <li class="list-unstyled">
                        <p class="fs-5 fw-bold">Password Must Contain</p>
                    </li>
                    <li class="list-unstyled d-flex align-items-center">
                        <i class="bi bi-check-circle text-primary fs-3"></i>
                        <p class="fs-5 fw-bold d-inline m-0">At least 6 charactors</p>
                    </li>
                    <li class="list-unstyled d-flex align-items-center">
                        <i class="bi bi-check-circle text-primary fs-3"></i>
                        <p class="fs-5 fw-bold d-inline m-0">At least 1 number</p>
                    </li>
                    <li class="list-unstyled d-flex align-items-center">
                        <i class="bi bi-check-circle text-primary fs-3"></i>
                        <p class="fs-5 fw-bold d-inline m-0">At least 1 uppercase</p>
                    </li>
                </ul>
            </div>            
        </div>
        <div class="col-12 col-lg-6 change-password-form p-4">
            <h2 class="text-center mb-4 lobster-regular text-primary">Change Password</h2>
            {% include "views/components/flash_alert.html" %}
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3 rounded">
                    {{ form.old_password(type="password", id="oldPassword", placeholder="Old Password") }}
                </div>
                <div class="mb-3 rounded">
                    {{ form.new_password(type="password", id="newPassword", placeholder="New Password") }}
                </div>
                <div class="mb-3 rounded">
                    {{ form.confirm_password(type="password", id="confirmPassword", placeholder="Confirm New Password") }}
                </div>
                {{ form.save(type="submit", class="btn btn-primary btn-lg mb-2") }}
            </form>
        </div>
    </div>
</section>

{% endblock %}
