<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('serve_node_modules', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_node_modules', filename='bootstrap-icons/font/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('serve_node_modules', filename='sweetalert2/dist/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body data-bs-theme="dark">
    <!-- Include alert messages -->
    {% include "admin/components/alert.html" %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0">
                {% include "admin/components/sidebar.html" %}
            </div>
            <div class="col-10 px-2 vh-100 overflow-y-scroll scrollbar-width-0">
                {% include "admin/components/navbar.html" %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('serve_node_modules', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('serve_node_modules', filename='sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>