{% extends 'admin/components/layout.html' %}

{% block body %}
<div class="m-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="bi bi-house"></i>
                <a href="{{ url_for('admin.dashboard' ) }}"> Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('admin.productLists') }}"> Products</a>
            </li>
            <li class="breadcrumb-item active">Add</li>
        </ol>
    </nav>
</div>


<div class="container-fluid p-0 window-session">
    <div class="card bg-black rounded border-0 w-100 h-100">
        <!-- card header -->
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <i class="bi bi-plus-circle-fill fs-4"></i>
                <span class="fw-bolder ms-2">Add New Product</span>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-dark custom-btn me-2" onclick="toggle_window(this)">
                    <i class="bi bi-arrows-angle-expand"></i>
                    <i class="bi bi-arrows-angle-contract d-none"></i>
                </button>
                <a href="{{ url_for('admin.productLists' ) }}" class="btn btn-dark custom-btn" >
                    <i class="bi bi-list-ul"></i>
                </a>
            </div>
        </div>
        <!-- card body -->
         <div class="card-body">
            <div class="container">
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    {% if form.errors %}
                        <div class="alert alert-warning">
                            <ul class="mb-0">
                                {% for field, errors in form.errors.items() %}
                                    {% for error in errors %}
                                        <li><strong>{{ form[field].label }}:</strong>  {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div class="mb-3">
                                {{ form.name.label(class="form-label") }}
                                {{ form.name(class="form-control") }}
                            </div>
                    
                            <div class="mb-3">
                                {{ form.description.label(class="form-label") }}
                                {{ form.description(class="form-control", rows=4) }}
                            </div>
                    
                            <div class="mb-3">
                                {{ form.product_image.label(class="form-label") }}
                                {{ form.product_image(class="form-control") }}
                            </div>
                    
                            <div class="mb-3">
                                {{ form.additional_images.label(class="form-label") }}
                                {{ form.additional_images(class="form-control", multiple="multiple") }}
                            </div>
                    
                            <div class="form-check mb-3">
                                {{ form.flash_sale(class="form-check-input") }}
                                {{ form.flash_sale.label(class="form-check-label") }}
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="mb-3 col-6 col-lg-12">
                                {{ form.price.label(class="form-label") }}
                                {{ form.price(class="form-control", type="number") }}
                            </div>
                    
                            <div class="mb-3 col-6 col-lg-12">
                                {{ form.previous_price.label(class="form-label") }}
                                {{ form.previous_price(class="form-control", type="number") }}
                            </div>
                    
                            <div class="mb-3 col-6 col-lg-12">
                                {{ form.category_id.label(class="form-label") }}
                                {{ form.category_id(class="form-select") }}
                            </div>
                    
                            <div class="mb-3 col-6 col-lg-12">
                                {{ form.quantity.label(class="form-label") }}
                                {{ form.quantity(class="form-control") }}
                            </div>
                            
                            <div class="col-6 col-lg-12">
                                <button type="submit" class="btn btn-primary">Add Product</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
         </div>
    </div>
</div>

<script>
    function toggle_window(e) {
        e.children[0].classList.toggle('d-none')
        e.children[1].classList.toggle('d-none')
        document.querySelector('.window-session').classList.toggle('window-expand')
    }
</script>

{% endblock %}
