{% extends 'admin/components/layout.html' %}

{% block body %}
<div class="m-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="bi bi-house"></i>
                <a href="{{ url_for('admin.dashboard' ) }}"> Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('admin.productLists') }}"> Products</a>
            </li>
            <li class="breadcrumb-item active">edit</li>
        </ol>
    </nav>
</div>
{% endblock %}