<section class="container-fluid new-arrival-section">
    <div class="container d-flex justify-content-center">
        <div class="row w-100">
            <div class="col-12 col-lg-6 p-2 left-div">
                <div class="bg-black shadow gif-div w-100 h-100 rounded">
                    <img src="{{ url_for('static', filename='img/views/img/gif/iphoneX.gif') }}" alt="iphone">
                    <div class="gif-link">
                        <a href="#" class="text-decoration-none text-secondary fw-light fs-3">view</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-0 right-div">
                <div class="w-100 p-2 top-div">
                    <div class="bg-black shadow gif-div w-100 h-100 rounded">
                        <img src="{{ url_for('static', filename='img/views/img/gif/laptop.gif') }}" alt="laptop" class="object-fit-cover">
                        <div class="gif-link">
                            <a href="#" class="text-decoration-none text-secondary fw-light fs-3">view</a>
                        </div>
                    </div>
                </div>
                <div class="w-100 p-0 bottom-div">
                    <div class="row w-100 h-100 p-0 m-0">
                        <div class="col-6 p-2">
                            <div class="bg-black gif-div w-100 h-100 rounded">
                                <img src="{{ url_for('static', filename='img/views/img/gif/earphones.webp') }}" alt="earphone">
                                <div class="gif-link">
                                    <a href="#" class="text-decoration-none text-secondary fw-light fs-3">view</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-2">
                            <div class="bg-black gif-div w-100 h-100 rounded">
                                <img src="{{ url_for('static', filename='img/views/img/gif/mouse.gif') }}" alt="mouse">
                                <div class="gif-link">
                                    <a href="#" class="text-decoration-none text-secondary fw-light fs-3">view</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>