<section class="subscribe-section text-black">
    <!-- Background Image -->
    <img src="{{ url_for('static', filename='img/views/background/subscribe.jpg') }}" alt="Subscribe Background" class="bg-image">
    
    <div class="overlay"></div>
    
    <div class="container text-center">
        <h2 class="subscribe-title lobster-regular fs-1 text-primary">Get 10% Off Your First Order!</h2>
        <p class="subscribe-text fw-bold">Subscribe to our newsletter and receive a 10% discount on your first purchase.</p>
        
        <form class="subscribe-form">
            <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email" required>
            <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
        </form>
        
        <p class="privacy-text fw-bold">We respect your privacy. Unsubscribe anytime.</p>
    </div>
</section>